body{
    font-family: 'Poppins', sans-serif;
}
.btn, .form-control:focus{
    box-shadow: none !important;
    
   
}

a {
    text-decoration: none;
    transition: .8s;
    display: inline-block;
    
}

a:hover {
    color: inherit;
}
img{
    max-width: 100%;
}


/* header */
p{
    color: #575757dd;
}
.padding{
    padding: 100px 0px;
}
.header{
    background: #1f2437;
    padding: 14px 0px;
}
.headerleft{}
.headerleft ul{
    margin: 0;
}
.headerleft ul li{}
.headerleft ul li a{
    color: white;
}
.headerleft ul li a i{
    color: #fbc641;
    margin: 0px 11px;
}
.headerright{}
.headerright h6{}
.headerbuttom{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: white;
    box-shadow: 0px 0px 16px 0px #0000004d;
}
.headerbuttom a{
}
.headerbuttom a img{
    width: 110px;
}
.manu{}
.manu ul{
    margin-right: 60px;
}
.manu ul li ul li a{
    padding: 16px 26px;
}
.manu ul li ul{
    top: 110%;
    left: 22px;
    margin: 0;
    width: 195px;
    background: white;
    border-top: 4px solid #fbc641;
    visibility: hidden;
    opacity: 0;
    transform-origin: top center;
    transition: .8s;
    transform: scaley(0);
    z-index: 99;
}
.manu ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaley(1);
    
    
    
}
.manu ul li ul li{
    border-top: 1px solid #0000004d;
}
.manu ul li{
    position: relative;
    
}
.manu ul li a{
    color: black;
    padding: 26px 26px;
    font-weight: 500;
}
.manu ul li:hover>a{
    color: #fcc741;
}
/* .manu ul li ul li a:hover{
    color: inherit;
} */
.hrderrigfd{}
.hrderrigfd a:hover{
    background: #012148;
    color: white;
}
.hrderrigfd a{
    background: #fbc641;
    color: white;
    padding: 10px 35px;
    border-radius: 7px;
    transition: .8s;
}
.hrderrigfd  i{
    font-size: 24px;
    margin: 5px 0px;
    margin-left: 55px;
   cursor: pointer;
}
.baner{
    background:url(./img/1.jpg) no-repeat top center;
    background-blend-mode: overlay;
    background-color: #354255;
    padding: 236px 120px;
    background-size: cover;
}
.baner2{
    background:url(./img/2.jpg) no-repeat top center;
    background-blend-mode: overlay;
    background-color: #354255;
    padding: 236px 120px;
    background-size: cover;
  
}
.content4{}
.content4 h1{ 
    font-size: 64px;
    border-color:#fbc641 !important ;
}
.content4 p{
    line-height: 33px;
    color: #bfbbbd;
    font-size: 18px;
}

.commonbtn1{
    color: white;
    border: 2px solid white;
    padding: 9px 37px;
    border-radius: 5px;
}
.commonbtn2:hover{
    background: #012148;
    color: white;
}
.commonbtn2{
    background: #fbc641;
    padding: 10px 36px;
    border-radius: 5px;
    color: white;
    transition: .8s;
}
.bgcarosol{
    background: #fbc641;
    display: inline-block;
    margin-left: 51px;
    height: 41px;
    width: 38px;
}
.bgcarosol i{
    display: inline-block;
    font-size: 27px;
    margin-top: 5px;
}
.kalkis{
    margin-left: -128px;
}
.content22{}
.content22 h1{
    font-size: 47px;
    border-left: 5px solid #fbc641;
    padding-left: 28px;
}
.content22 h1 b{}
.content22 p{
    font-size: 16px;
    line-height: 30px;
    /* margin-right: 34px; */
}
.content22 h6{
    padding: 14px 0px;
}
.content22 h6 i{
    color: #fbc641;
    margin-right: 15px;
}
.buttomdiv{
    border-top: 2px solid #0000003d;
    padding: 9px 15px;
    border-bottom: 2px solid #0000003d;
    margin-top: 37px;
}
.imgdivss img{
    border-radius: 5px;
    width: 230px;
}
.contsentdiv h5{
    padding: 27px 30px;
}
.onlyimg img{
    width: 85%;
    border-radius: 5px;
}
.counter{}
.counter i{
    font-size: 50px;
    color: #fbc641;
}
.counter h1{}
.counter h6{}
.poshhhh{
    background: #1a3759;
    padding: 100px 0px 300px 0px;
}
.maincontent{
    padding: 49px;
    border: 1px solid #0000002e;
    background: white;
}
.maincontent img{}
.maincontent h3{}
.maincontent h6{
    padding: 6px 0px;
    color: #787878;
}
.maincontent a{
    background: #1a3759;
    padding: 6px 20px;
    color: white;
    transition: .8s;
}
.maincontent a:hover{
    background: #fcc741;
}
.maincontent h4 {
    padding-top: 30px;
    font-size: 23px;
}
.positodivss {
    background: #f3f8fb;
    margin-bottom: -100px;
}
.course{
    background: #f3f8fb;
}
.content00 a{
    box-shadow: 2px 4px 20px 0px #00000038 !important;
}
.conteby222{
    background: white;
    margin-bottom: 90px;
    margin-top: 40px;
}
.conteby222 img{
    border-radius: 5px 5px 0px 0px;
    transform: scale(1);
    transition: .8s;
}
.fawdiv{
    overflow: hidden;
    height: 279px;
}
.conteby222:hover img{
    transform: scale(1.3);
}
.conteby222 a{
    background: #fcc741;
    padding: 5px 18px;
    color: white;
    bottom: 50px;
}
.subdixss span i{
    color: #fcc741;
}
.subdixss a{
    color: black;
    background: white;
}
.subdixss h5{}
.subdixss h6 {}
.subdixss h6 b{
    color: #fcc741;
}
.subdixss p{
    border-bottom: 1px solid #00000038;
}
.subdixss b{}
.subdixss {
    margin: 25px 28px;
}
.coloeclas{
    color: #51d396;
}
.subdixss .d-flex h6 i{
}
.relahhhhh{
    bottom: 212px;
}
.imhgsiueh{
    border: 8px solid #fcc741;
    border-radius: 5px;
}
.imhgsiueh img{
    width: 100%;
    position: relative;
    top: 30px;
    right: 30px;
    border-radius: 5px;
}
.content88{}
.content88 h1{}
.logoimg{}
.fastdiv i{
    font-size: 55px;
    margin-right: 40px;
    color: #fcc741bf;
}
.fastdiva{}
.fastdiva h6{
    font-weight: 600;
}
.fastdiva p{
    margin-right: 30px;
}
.admation{
    background: #1a3759;
}
.leftcontenb h6{
    color: #fcc741;
}
.maindd{
    margin-top: 40px;
}
.fastqq{}
.fastqq img{
    width: 98%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}
.fastqq span{
    left: 0px;
    background: #fcc741;
    color: white;
    padding: 4px 5px;
    width: 58px;
    text-align: center;
}
.fastqqtss{
    padding: 30px 24px;
}
.fastqqtss h5{}
.fastqqtss span{
    color: #575757dd;
}
.fastqqtss span i{
    color: #fcc741;
}
.fastqqtss p{line-height: 28px;}
.fastqqtss a{
    color: #fcc741;
}
.happyabout{
    background: #07294e;
    position: relative;
    top: 40px;
    right: 88px;
}
.happyabout i{
    font-size: 50px;
    color: #fcc741;
}
.happyabout p{
    color: white;
    line-height: 28px;
}
.happyabout img{
    width: 70px;
    margin: 23px 0px;
}
.happyabout h5{
    font-weight: 400;
}
.happyabout h6{
    font-weight: 400;
}
.mainfff {padding-bottom: 100px !important;background: #ecf0f9;}
.contanryred h1 {
    padding: 60px 0px;
}
.onlupaaa{}
.onlupaaa span{
    padding-right: 15px;
}
.onlupaaa span i{
    color: #fcc741;
    margin-right: 5px;
    font-size: 18px;
}
.fastdcsv span{
    padding-right: 15px;
}
.fastdcsv span i{
    color: #fcc741;
    margin-right: 5px;
    font-size: 18px;
}
.onlupaaa h5{
    font-weight: 600;
}
.fastdcv{
    width: 40%;
}
.fastdcv img{
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}
.ahupmain{}
.fastdcsv{
    padding: 30px 24px;
    width: 50%;
}
.onlu4img{
    background: #f3f8fb;
}
.onlu4img img{
    width: 180px;
}


/* footer */


.fotrelasr{
    background:#002147 ;
}
.fastfutter{}
.fastfutter img{
    width: 165px;
}
.fastfutter p{
    color: #9aa3b2;
    font-size: 17px;
    padding-right: 30px;
}
.fastfutter a{}
.fastfutter a i{
    color: white;
    display: inline-block;
    padding: 10px 12px;
}
.midel1{}
.midel1 h4{
    margin-bottom: 34px;
}
.midel1 h6{
    padding: 9px 0px;
    font-weight: 300;
}
.midel1 h6 i{
    margin-right: 10px;
    color: #fcc741;
    font-weight: 800;
}
.lastfutter{}
.lastfutter h5{
    margin-bottom: 34px;
}
.lastfutter p{
    color: #a1b9c8;
    font-size: 18px;
}
.lastfutter input{
    padding: 13px 20px;
    background: #0b2e63;
    border: none;
    margin: 33px 0px;
}
.lastfutter a{}
.lastfuttert{
    background:#20242d ;
    color: #566265;
}
.imgsssss img {
    border-radius: 5px;
}

.akllcontenmt  img {
    border-radius: 5px 5px 0px 0px;
}